body{
    display: flex;
    flex-direction: row;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    flex-direction: column;
    position:fixed;
    width: 8vw;
}
main {
    display: flex;          /* Para alinear <section> y <aside> lado a lado */
    flex-direction: row;    /* Horizontal */
    margin-left: 8vw;       /* Para no tapar la sección con el nav fijo */
    width: 100%;
    background-color: #FAFAFA;
}

section {
    flex: 1;                /* Se expande para ocupar el espacio disponible */
    padding-left: 2vw;      /* Espacio interno para tu contenido */
    background-color: #FAFAFA;
}

/* El aside estará a la derecha y oculto por defecto */
aside {
    width: 20vw;            /* Ajusta según prefieras */
    background-color: #fefefe;
    display: none;          /* Oculto hasta que se agregue algo */
    border-left: 1px solid #ccc;
    padding: 15px;
}

/* Elementos dentro del aside */
.ordenesActuales {
    /* Cualquier estilo adicional para la lista de orden */
}
.ordenesActuales ul li {
    color: black;         /* Asegúrate de tener un color de texto visible */
    list-style: disc;     /* Para mostrar viñetas o algo similar */
    margin-left: 1rem;
  }
  
nav img{
    border-radius: 30px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
section{
    padding-left: 10vw;
    background-color: #FAFAFA;
}
nav button{
    color: #808080;
    border-color: transparent;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
nav button p{
    font-size: x-large;
}
nav button:hover{
    background-color: #FDF0DF;
    color: #E07609;
}
main{
    background-color: #FAFAFA;
}
.barraBusqueda{
    margin-left: 3vw;
    display: flex;
    flex-direction: row;
}
.barraBusqueda button{
    background-color: transparent;
    border: none;
    font-size: x-large;
    cursor: pointer;
}
input {
    border-radius: 20px; 
    border: 1px solid #ccc;
    padding: 10px 15px;
    outline: none; 
}
.categoriasMenu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: #FAFAFA;
}
.categoriasMenu button{
    border-color: transparent;
    background-color: #EBEBEB;
    border-radius: 20px; 
    padding: 10px 15px;
    cursor: pointer;
}
.itemsMenu{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    gap: 10px;
    padding: 15px;
}
.itemsMenu button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s ease;
}
.itemsMenu button img{
    border-radius: 10px;
    width: 130px;
    height: 100px;
    object-fit: cover;
}
.itemsMenu button:hover{
    transform: scale(1.05);
}