:root{
    --ColorPrimario:#b74718 ; /*#348ec9 - #cee4f           #c94a34-#f4ddce */
    --ColorPrimarioF:#d3af8b;
}
body{
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: row;
    gap: 2rem;
    justify-items: center;
}
body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
    background: url("Imagenes/pizza-hawaiana.jpg") no-repeat center center/cover;
    opacity: 0.5; 
    z-index: -1; 
}
nav{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 8vw;
    height: 100vh;
}
h1{
    background: linear-gradient(45deg,#b74718, #c37220);
    flex-grow: 1;
    color: white;
    width: 50vw;
    padding: 10px;
    border-radius: 20px;
    justify-items: flex-end;
    margin-left: 1rem;
}
nav img{
    border-radius: 30px;
    width: 55px;
    height: 55px;
    object-fit: cover;
}
nav a{
    color: #808080;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    height: 12vh;
    border-color: transparent;
    border-radius: 10px;
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}
nav a p{
    justify-self: center;
    font-size: x-large;
}
nav a:hover, nav button:hover{
    background-color: var(--ColorPrimarioF);
    color: var(--ColorPrimario);
    transform: scale(1.05);
}
main{
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 97vh;
}
div{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    justify-items: center;
    width: 80vw;
    height: 97vh;
}
section{
    display: flex;
    flex-direction: row;
    gap: 8vw;
    flex-grow: 1;
}
img{
    width: 8rem;
    height: 8rem;
}
.informacion{
    width: 80vw;
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    height: 10vh;
    align-content: center;
    text-align: center;
    background: linear-gradient(45deg,#b74718, #c37220);
    color: white;
}
@media (max-width: 500px){
    div{
        font-size: xx-large !important;
    }
}