{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú del Restaurante</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'restaurante.js' %}?v=4"></script>
</head>
<body>
    <section id="top" class="home">
        <div class="home-content">
            <h1>Massa D’oro</h1>
            <p>¡El sabor más crujiente que puedas imaginar!</p>
            <button onclick="location.href='#menu'">Ver Menú</button>
        </div>
    </section>
    <main>
        <nav>
            <a href="#top"><p>🏠︎</p>Inicio</a>
            <a href="pedidos"><p>☆</p>Admin</a>
            
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><p>!</p>Cerrar sesión</a>
            <a href="pedidos"><p>☆</p>Admin</a>
            {% else %}
            <a href="login"><p>☆</p>Iniciar sesión</a>
            <a><p>⛶</p>Mesa</a>
            {% endif %}
            <a href="#menu"><p>⌸</p>Menu</a>
            <a href="home-page.html#"><p>◔</p>Historial</a>
            <a href="contacto"><img src="/static/Imagenes/Perfil.png" alt="">Contacto</a>
          </nav>
        <section id="menu">
            <div class="categoriasMenu">
                <a href="#Pizzas"><button>🍕 Pizza</button></a>
                <a href="#Papadias"><button>🌮 Papadias</button></a>
                <a href="#Hamburguesas"><button>🍔 Hamburguesas</button></a>
                <a href="#Bebidas"><button>🥤 Bebidas</button></a>
            </div>
                <section id="menu">
                    <div id="itemsMenu"></div>
                  </section>
        </section>
        <aside>
            <form action="home-page.html" method="GET">
                <div class="ordenesActuales">
                    <ul id="ordenesActuales"></ul>
                    <p id="total">Total: $0</p>
                    
                    <!-- Input oculto para guardar el pedido -->
                    <input type="hidden" name="pedido" id="pedidoInput">
                </div>
                <button type="submit" id="realizarPedido">Realizar pedido</button>
            </form>
        </aside>
    </main>
    <footer>
    </footer>
<div id="modal" class="modal">
    <div class="modal-content">
      <span id="close-modal" class="close-button">&times;</span>
      
      <h2>Completa tus datos</h2>
      <form id="formCliente">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
  
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono" required>
  
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
    
        <button type="submit">Enviar pedido</button>
      </form>
    </div>
  </div>
  
</body>
</html>
